<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>D:\WorkSpace-Devlopment\Dims\DimsSBU-8\Dims_Publish_New\Dims_Client</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cmsEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=192.168.1.10,1433;Initial Catalog=DIMS_QA;Persist Security Info=True;User ID=sa;Password=admin@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DIMSConnection-Web.config Connection String">
      <ParameterValue>Data Source=192.168.1.10,1433;Initial Catalog=DIMS_QA;Persist Security Info=True;User ID=sa;Password=admin@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DIMSDBConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)My_IP-Web.config Connection String">
      <ParameterValue>http://192.168.1.10</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>