@{
    Layout = null;
    DIMS.Models.UserProperties UP = (DIMS.Models.UserProperties)Session["UP"];
    string SessionSITEDETAIL_CODE = UP.SITEDETAIL_CODE;
    string SessionUserCode = UP.UserCode;
    string SessionUserName = UP.UserName;
    string SessionCOMPANYDETAIL_CODE = UP.COMPANYDETAIL_CODE;
    string SessionUserType = UP.UserTypeCode;
    string SessionUserTypeID = UP.UserType;
    string Now = System.DateTime.Now.ToString("dd/mm/yyyy");
}

<style type="text/css">
    /*label {
        font-weight: normal;
        padding-top: 0px;
        padding-right: 0px;
        font-size: 12px;
    }
        */

    .modal-content {
        padding: 10px;
    }

    .SlectBox {
        padding: 5px 8px;
        width: 153px;
    }
</style>
<section class="content-header" style="padding: 1px 15px 0;">
        <h2 id="UpdateNetBilling">Net Billing For Stockist</h2>
    <ol class="breadcrumb">
        <li><a  ng-click="go('home')"><i class="fa fa-dashboard"></i>Home</a></li>
        <li>Discounts/Provisions</li>
        <li class="active"><span id="UpdateNav">Create </span>Net Billing</li>
    </ol>
    <nav style="padding: 1px 10px 1px 10px;">
        <div class="row">
            <div class="col-sm-11" id="IconsNavBar">
                <a href ng-click="go('NetBillingForStockist')">
                    <i class="fa fa-list fa-4" title="List"></i>
                </a>
                <a href ng-click="SaveNetBilling()">
                    <i class="fa fa-floppy-o fa-4" title="Save"></i>
                </a>
            </div>
        </div>
    </nav>
</section>

<input type="text" id="USERNAME_NetBilling" style="display: none;" value="@SessionUserName" />
<input type="text" id="USERCODE_NetBilling" style="display: none;" value="@SessionUserCode" />
<input type="text" id="USERTYPE_NetBilling" style="display: none;" value="@SessionUserType" />
<input type="text" id="Date" style="display:none" />
<input class="form-control gray" id="RequestCreatedBy" type="text" disabled="disabled" data-ng-model="RequestCreatedBy" style="display: none;" />


<div  class="CustomHeight_Section" style="overflow: auto;">
<section style="padding:0 15px 90px;">
    <div class="row">
    <div class="col-md-12">
        <div class="box box-primary" style="background: white none repeat scroll 0 0; padding: 9px;">
             <div class="form-group">
                <label class="col-sm-2 control-label" style="color: red; font-size: 18px;margin-left:30px">M=Meter</label>
                <label class="col-sm-2 control-label" style="color: red; font-size: 18px">MT=Metric Tons</label>
            </div>
            <form class="form-horizontal  ng-pristine ng-valid" role="form" style="font-size: small; margin-top: 36px;">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Request Created By</label>
                    <div class="col-sm-3">
                        <input class="form-control gray" id="CreatedBy" type="text" disabled="disabled" data-ng-model="CreatedBy" />
                    </div>
                    <label class="col-sm-3 control-label">Created Date</label>
                    <div class="col-sm-3">
                        <input class="form-control gray" id="CreatedDate" type="text"  disabled="disabled"  />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Net Billing ID</label>
                    <div class="col-sm-3">
                        <input class="form-control gray" id="NetBillingId" type="text" disabled="disabled" data-ng-model="NetBillingId" />
                    </div>                   
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Stockist Code <span style="color:red">*</span></label>
                    <div class="col-sm-3">
                        <div class="input-group add-on">
                            <input class="form-control gray" id="StockistCode" type="text" disabled="disabled" data-ng-model="StockistCode" />
                            <div class="input-group-btn Customer">
                                <span class="btn btn-default" ng-click="Getdata('GetCustomerCodeName','CustomerMasterList','Customer List')"><i class="glyphicon glyphicon-new-window"></i></span>
                            </div>
                        </div>

                    </div>
                    <label class="col-sm-3 control-label">Price Card Rate (INR/M)</label>
                    <div class="col-sm-3"> 
                        <input class="form-control gray" id="PriceCardRate" type="text" data-ng-model="PriceCardRate"/ disabled="disabled">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Stockist Name</label>
                    <div class="col-sm-3">
                        <input class="form-control gray" id="StockistName" type="text"  data-ng-model="StockistName" disabled="disabled" />
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">District</label>
                    <div class="col-sm-3">
                        <input class="form-control gray" id="District" type="text"  data-ng-model="District" disabled="disabled"/>
                    </div>
                    <label class="col-sm-3 control-label">Net Billing Rate (INR/M)<span style="color:red">*</span></label>
                    <div class="col-sm-3">
                        <input class="form-control gray" id="NetBillingRate" type="text" data-ng-model="NetBillingRate"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">State</label>
                    <div class="col-sm-3">
                        <input class="form-control gray" id="State" type="text"  data-ng-model="State" disabled="disabled"/>
                    </div>
                    <label class="col-sm-3 control-label">Expected Sale (MT)<span style="color:red">*</span></label>
                    <div class="col-sm-3">
                        <input class="form-control gray" id="ExpectedSale" type="text" data-ng-model="ExpectedSale"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Zone</label>
                    <div class="col-sm-3">
                        <input class="form-control gray" id="Zone" type="text"  data-ng-model="Zone" disabled="disabled" />
                    </div>
                    <label class="col-sm-3 control-label">Expected NSR (INR)<span style="color:red">*</span> </label>
                    <div class="col-sm-3">
                        <input class="form-control gray" id="ExpectedNSR" type="text" data-ng-model="ExpectedNSR"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Net Billing From<span style="color:red">*</span></label>
                    <div class="col-sm-3">
                        <input class="form-control gray" id="NetBillingFrom" type="text"  />
                    </div>
                    <label class="col-sm-3 control-label">Request Status</label>
                    <div class="col-sm-3">
                        <input class="form-control gray" id="RequestStatus" type="text" data-ng-model="RequestStatus" disabled="disabled"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Net Billing To <span style="color:red">*</span></label>
                    <div class="col-sm-3">
                        <input class="form-control gray" id="NetBillingTo" type="text"  />
                    </div>
                    <label class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-3">                        
                        <textarea class="form-control gray" id="Description"  data-ng-model="Description" maxlength="300"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</section>
</div>
<script type="text/javascript">

    $(window).resize(function () {
        $('.CustomHeight_Section').height($(window).height() - 170);
    });
    $('.CustomHeight_Section').height($(window).trigger('resize'));

    $(document).ready(function () {

        GetServerDateTime();


        $('#NetBillingFrom').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: 'true'
        });
        $('#NetBillingFrom').bind('keypress', function (e) {
            return false;
        });
        $('#NetBillingTo').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: 'true'
        });
        $('#NetBillingTo').bind('keypress', function (e) {
            return false;
        });
    });


    $("#NetBillingFrom").datepicker().on("changeDate", function (e) {
        $("#NetBillingTo").datepicker('setStartDate', $("#NetBillingFrom").val());
        //$("#OrderToDate").data("datepicker").setStartDate((moment(e.date).add(0, 'days')));
        $("#NetBillingTo").val("");
    });
    //$("#IssueToDate").datepicker().on("changeDate", function (e) {
    //    if ($("#IssueFromDate").val() == "") {
    //        $("#IssueToDate").val("");
    //    } else {
    //        $("#IssueFromDate").datepicker('setEndDate', $("#IssueToDate").val());
    //    }
    //});

    function GetServerDateTime() {
        $.ajax({
            url: '../../Home/getServerDateTime',
            type: 'GET',
            success: function (response) {
                var result = JSON.parse(response.tabledata);

                if (result == "") {
                }
                else {
                    $("#NetBillingFrom").datepicker('setEndDate', result);
                   // $("#CreatedDate").val(result);
                    //$("#DiscountTo").datepicker('setEndDate', result);
                }

            }

        });
    }


    //$('#ExpectedNSR').keypress(function (e) {
    //    return onlyNumerics(e);
    //});

    //$('#ExpectedSale').keypress(function (e) {
    //    return onlyNumerics(e);
    //});

    //$('#NetBillingRate').keypress(function (e) {
    //    return onlyNumerics(e);
    //});

    allowTwoDecimalPoints($("#ExpectedNSR"));

    allowTwoDecimalPoints($("#ExpectedSale"));

    allowTwoDecimalPoints($("#NetBillingRate"));


</script>









