@using LabelName = DIMS.Content.Resource_Files.CustomerMaster;
@{
    Layout = null;
}
<style>
    .form-group {
        margin-bottom: 0px;
    }
</style>
<section class="content-header" style="padding: 1px 15px 0;">
    <h2>Account Statements Summary</h2>
    <ol class="breadcrumb">
        <li><a href ng-click="go('home')"><i class="fa fa-dashboard"></i>Home</a></li>
        <li>Financial Transactions</li>
        <li><a href ng-click="go('AccountStatement')"><i class="fa fa-dashboard"></i>Account Statement</a></li>
        <li>Account Statements Summary</li>
    </ol>
    <nav style="padding: 1px 10px 1px 10px;">
        <div class="row">
            <div class="col-sm-11" id="IconsNavBar">
                <a href onclick="GetPDFFile()">
                    <i class="fa fa-file-pdf-o fa-4" title="Download Pdf"></i>
                </a>
            </div>
        </div>
    </nav>
</section>
<section class="content" style="max-height: 478px; overflow-y: scroll;">

    <div style="width: 100%; height: 100%;display:none;" id="accsummaryview_HTML">

         @*<div id="background" style="position: fixed;
        display: block;
        min-width: 100%;
        opacity: 0.5;
        text-align: center;
        background-color: transparent;
        padding-top: 40%;">
        <p id="bg-text" style=" color: grey;
        font-size: 50px;
        transform: rotate(330deg);
        -webkit-transform: rotate(330deg);
        opacity: 0.9;
        filter: alpha(opacity=50);
        background-color: transparent;">Not for commercial Purpose</p>
    </div>*@
        <table style="width: 98%" align="center" border="0">
            @*<tr>
                    <td>
                        <div class="row" align="left">
                            <img src="~/Images/CKBIRLA.png" class="img-thumbnail" alt="Cinque Terre" width="185" height="100" style="border: none;">
                        </div>
                    </td>
                </tr>*@
            <tr>
                <td>
                    <div class="row" align="center" style="width: 100%; margin-bottom: 15px;">
                        <h4>
                            <b>HIL Limited</b>
                        </h4>
                        <h5>
                            Regd.Office:7th Floor,SLN Terminus,Sy.No.133,<br />Beside Botanical Gardens,Gachibowli,Hyderabad 500032,Telangana<br />CIN:L74999TG1955PLC000656
                        </h5>
                    </div>
                </td>
            </tr>
        </table>

        <table width="100%">
            <tr>
                <td>Party Code:&nbsp;<label id="PartyCode_html"></label></td>
                <td style="text-align:right;">Statement Period:&nbsp;<label id="StatementPeriod_html"></label></td>
            </tr>
            <tr>
                <td>Party Name:&nbsp;<label id="Name_html"></label></td>
            </tr>
            <tr>
                <td>Address:&nbsp;<label id="Address_html"></label></td>
            </tr>
        </table>
        <table style="width: 98%" align="center" border="0">
            <tr>
                <td>
                    <div class="row" align="center" style="width: 100%; margin-bottom: 15px;">
                        <h4>
                            <b>STATEMENT OF ACCOUNTS (CUSTOMERS)</b>
                        </h4>
                    </div>
                </td>
            </tr>
        </table>
        <table width="100%">
            <tr>
                <td>Opening Balance on&nbsp;<label id="lblOpenDate_html"></label><label>&nbsp;is Rs. </label><label id="lblOpenBal_html"></label>@*<label>&nbsp; Debit and for Security Deposit is Rs. 305000.00- Credit.</label>*@</td>
            </tr>
            <tr>
                <td>Closing Balance on&nbsp;<label id="lblClosedDate_html"></label><label>&nbsp;is Rs. </label><label id="lblClosedBal_html"></label>@*<label>&nbsp; Debit and for Security Deposit is Rs. 305000.00- Credit.</label>*@</td>
            </tr>
        </table>
        <table style="width: 98%" align="center" border="0">
            <tr>
                <td>
                    <div class="row" align="center" style="width: 100%; margin-bottom: 15px;">
                        <h4>
                            Transactions are for Normal Balances
                        </h4>
                    </div>
                </td>
            </tr>
        </table>
        <br />
        <table id="tbl_AccSummary_html" width="100%" cellspacing="0" border="1" style="page-break-inside:auto">
            <thead style="display:table-header-group"> 
                <tr style="background-color:gray;color:white; font-family:Calibri;font-size:medium;page-break-inside:avoid; page-break-after:auto">
                    <th>Doc<br />Type</th>
                    <th>Document<br />Number</th>
                    <th>Posting<br />Date</th>
                    <th>Debit<br />Amount</th>
                    <th>Credit<br />Amount</th>
                    <th>Cummulative<br />Total</th>
                    <th>Narration</th>
                    <th>Billing<br />Doc No.</th>
                    <th>Payment Ref<br />(Cheque/UTR)</th>
                </tr>
            </thead>
            <tfoot style="display:table-footer-group">
                <tr style="font-family:Calibri;page-break-inside:avoid; page-break-after:auto">
                    <th colspan="3" style="text-align: left">TOTAL</th>
                    <th id="DebitTotal_html" style="text-align: right"></th>
                    <th id="CreditTotal_html" style="text-align: right"></th>
                    <th id="OutstandingTotal_html" style="text-align: right"></th>
                    <th colspan="3"></th>
                </tr>
            </tfoot>
            <tbody>
                @*<tr style="font-family:Calibri;font-size:small;">
                    <td style="text-align:left">1</td>
                    <td style="text-align:left">2</td>
                    <td style ="text-align:left">3</td>
                    <td style="text-align:right">4</td>
                    <td style="text-align:right">5</td>
                    <td style="text-align:right">6</td>
                    <td style="text-align:left">7</td>
                    <td style="text-align:left">8</td>
                    <td style="text-align:left">9</td>
                </tr>*@
            </tbody>
        </table>
        <br />
        <div class="row" align="center" style="width: 100%; margin-bottom: 15px;">
            <h5>This is system generated document hence does not require a signature.</h5>
        </div>
    </div>



    <div class="row" id="accsummaryview">
        <div class="col-md-12">
            <div class="box box-primary" style="background: white none repeat scroll 0 0; padding: 4px;">
                <div class="box-header">
                    <img src="~/Images/CKBIRLA.png" class="img-thumbnail" alt="Cinque Terre" width="185" height="202" style="border:none;">
                    <div class="row">
                        <div class="text-center">
                            <h5>
                                <b>
                                    HIL Limited
                                    <br />
                                    Regd. Office : 7th Floor, SLN Terminus, Sy. No. 133,
                                </b>
                                <br />
                                Beside Botanical Gardens, Gachibowli, Hyderabad 500032, Telangana
                                <br />
                                CIN: L74999TG1955PLC000656
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="box-body pad">
                    <form class="form-horizontal" role="form" style="font-size: 12px; font-weight: normal" action="">
                        <input type="hidden" id="customermaster_id" data-ng-model="customermaster_id_Model" />

                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:12%;">
                                Party Code:
                            </label>
                            <div class="col-sm-4">
                                <label class="control-label" id="PartyCode" ng-model="PartyCode">
                                </label>
                                @*  <input type="text" class="form-control gray" id="BillingDoc" ng-model="BillingDoc" disabled="disabled" />*@
                            </div>
                            <label class="col-sm-3 control-label">
                                Statement Period:
                            </label>
                            <div class="col-sm-3">
                                <label class="control-label" id="StatementPeriod" ng-model="StatementPeriod">
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:12%;">
                                Party Name:
                            </label>
                            <div class="col-sm-4">
                                <label class="control-label" id="Name" ng-model="Name">
                                </label>
                            </div>
                            <label class="col-sm-3 control-label">
                                @*ECC Number:*@
                            </label>
                            <div class="col-sm-3">
                                <label class="control-label" id="ECCNumber" ng-model="ECCNumber">
                                </label>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:12%;">
                                Address:
                            </label>
                            <div class="col-sm-4">
                                <label class="control-label" id="Address" ng-model="Address">
                                </label>
                            </div>
                            <label class="col-sm-3 control-label">
                                @*CIN No:*@
                            </label>
                            <div class="col-sm-3">
                                <label class="control-label" id="CINNo" ng-model="CINNo">
                                </label>
                            </div>
                        </div>
                        <b><center>STATEMENT OF ACCOUNTS (CUSTOMERS)</center></b>
                        <label class="control-label">Opening Balance on&nbsp; </label><label id="lblOpenDate"></label><label>&nbsp;is Rs. </label><label id="lblOpenBal"></label>@*<label>&nbsp; Debit and for Security Deposit is Rs. 305000.00- Credit.</label>*@<br />
                            <label class="control-label">Closing Balance on</label>&nbsp;<label id="lblClosedDate"></label><label>&nbsp;is Rs. </label><label id="lblClosedBal"></label>@*<label>&nbsp;  Debit and for Security Deposit is Rs. 305000.00- Credit.</label>*@

                        <b><center>Transactions are for Normal Balances</center></b>
                        <br />
                        <table id="tbl_AccSummary" class="table" width="100%" cellspacing="0" border="1">
                            <thead>
                                <tr style="background-color:gray;color:white;">
                                    <th style="width:25px;text-align: center">Doc<br />Type</th>
                                    <th style="width:50px;text-align: center">Document<br />Number</th>
                                    <th style="width:40px;text-align: center">Posting<br />Date</th>
                                    @*<th style="width:40px;">Documnt Date</th>*@
                                    <th style="width:50px;text-align: center">Debit<br />Amount</th>
                                    <th style="width:50px;text-align: center">Credit<br />Amount</th>
                                    <th style="width:50px;text-align: center">Cummulative<br />Total</th>
                                    <th style="width:100px;text-align: center">Narration</th>
                                    <th style="width:85px;text-align: center">Billing<br />Doc No.</th>
                                    <th>Payment Ref<br />(Cheque/UTR)</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th colspan="3" style="text-align: left">TOTAL</th>
                                    <th id="DebitTotal" style="text-align: right"></th>
                                    <th id="CreditTotal" style="text-align: right"></th>
                                    <th id="OutstandingTotal" style="text-align: right"></th>
                                    <th colspan="3"></th>
                                </tr>
                            </tfoot>
                            <tbody></tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    var userRole;
    
    $(document).ready(function () {
        $("#tbl_AccSummary").dataTable({
            "bDestroy": true,
            "bSort": false,
            "bScrollCollapse": true,
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": false
            //'scrollX': true
        });

        userRole = SessionValue;
        //$("#tbl_Inv_Details1").dataTable({
        //    "bDestroy": true,
        //    "bSort": false,
        //    "bScrollCollapse": true,
        //    "paging": false,
        //    "ordering": false,
        //    "info": false,
        //    "bFilter": false
        //    //'scrollX': true
        //});
    });

    function GetPDFFile() {
        $.ajax({
            url: '/Home/Exportdata',
            type: 'POST',
            beforeSend: function () {
                //ShowLoader();
            },
            data: { QueryVal: $('#accsummaryview_HTML').html() },
            success: function (result) {
                debugger
                if (result == "ok") {
                    //$("#PrintReport").css("display", "block");

                    if ((userRole == "STOCKIST") || (userRole == "BU3_STK")) {
                        $.ajax({
                            type: 'POST',
                            async: false,
                            data: { reportname: "AccountSummary_" + $("#PartyCode").text() + "" },
                            //datatype: 'JSON',
                            url: '../../HOME/GetPDF_STOCKIST',
                            success: function (data) {
                                if (data == "MailSentSuccessfully") {
                                    alert("Mail Sent Successfully");
                                } else {
                                    alert(data);
                                }
                            },
                            error: function (e) {
                                alert("Technical Error Occured");
                            }
                        });
                    } else {
                        window.location.href = "../../Home/GetPDF?reportname=AccountSummary_" + $("#PartyCode").text() + "";
                    }                    
                }
            },
            error: function (e) {
                alert(e);
            }
        });
    }

</script>
