@using LabelName = DIMS.Content.Resource_Files.CustomerMaster;
@{
    Layout = null;
}
<style>
    .form-group {
        margin-bottom: 0px;
    }
</style>
<section class="content-header" style="padding: 1px 15px 0;">
    <h2>Invoice Details</h2>
    <ol class="breadcrumb">
        <li><a href ng-click="go('home')"><i class="fa fa-dashboard"></i>Home</a></li>
        <li>Financial Transactions</li>
        <li><a href ng-click="go('InvoiceListView')"><i class="fa fa-dashboard"></i>Invoice List</a></li>
        <li>Invoice Details</li>
    </ol>
    <nav style="padding: 1px 10px 1px 10px;">
        <div class="row">
            <div class="col-sm-11" id="IconsNavBar">
                <a href onclick="GetPDFFile()">
                    <i class="fa fa-file-pdf-o fa-4" title="Download Pdf"></i>
                </a>
            </div>
        </div>
    </nav>
</section>
<section class="content" style="max-height: 478px; overflow-y: scroll;">

    <div style="width: 100%; height: 100%;display:none;" id="Zinv_Depo_View_html">
         <div id="background" style="position: absolute;
        display: block;
        min-width: 100%;
        opacity: 0.5;
        text-align: center;
        background-color: transparent;
        padding-top: 30%;">
        <p id="bg-text" style=" color: lightgrey;
        font-size: 50px;
        transform: rotate(330deg);
        -webkit-transform: rotate(330deg);
        opacity: 0.9;
        filter: alpha(opacity=50);
        background-color: transparent;">Not for commercial Purpose</p>
    </div>
        <table style="width: 98%" align="center" border="0">
            @*<tr>
                    <td>
                        <div class="row" align="left">
                            <img src="~/Images/CKBIRLA.png" class="img-thumbnail" alt="Cinque Terre" width="185" height="100" style="border: none;">
                        </div>
                    </td>
                </tr>*@
            <tr>
                <td>
                    <div class="row" align="center" style="width: 100%; margin-bottom: 15px;">
                        <h5>
                            <b>
                                HIL Limited
                                <br />
                                <label id="lblPlantName_html"></label>
                            </b>
                        </h5>
                        <h5>DEPOT FREE OF CHARGE INVOICE</h5>
                    </div>
                </td>
            </tr>
        </table>

        <table width="100%">
            <tr>
                <td>Billing Doc No:&nbsp;<label id="BillingDoc_html"></label></td>
                <td style="text-align:right;">OA/SO No & Date:&nbsp;<label id="SalesOrderNo_html"></label></td>
            </tr>
            <tr>
                <td>Billing Date:&nbsp;<label id="BillingDate_html"></label></td>
                <td style="text-align:right;">CIN No:&nbsp;<label id="CINNo_html"></label></td>
            </tr>
            <tr>
                <td>Sold To:&nbsp;<label id="SoldTo_html"></label></td>
                <td style="text-align:right;">Order Ref and Date:&nbsp;<label id="OrderRefDate_html"></label></td>
            </tr>
        </table>
        <table id="tbl_Inv_Details_html" align="center" style="width:100%;margin-left:0;" border="1" cellspacing="0">
            <thead id="Zinv_Depo_header_html">
                <tr style="color: black;">
                    <th style="width:280px;" id="ExciseRange_html" align="left">Excise Range<br /></th>
                    <th style="width:280px;" id="ExciseDivison_html" align="left">Excise Division<br /></th>
                    <th style="width:280px;" id="ExciseCommissionerate_html" align="left">Excise Commissionerate<br /></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <table width="100%">
            <tr>
                <td>Date of Prep:&nbsp;<label id="DOPrep_html"></label></td>
                <td style="text-align:right;">Date of Removal:&nbsp;<label id="DORemoval_html"></label></td>
            </tr>
        </table>

        <table id="tbl_Inv_Details1_html" style="width:100%;margin-left:0;" cellspacing="0" border="1">
            <thead>
                <tr style="color: black;">
                    <th>Material Code</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>UOM</th>
                    <th>Material Group</th>
                    <th>Weight (KG)</th>
                    <th>Unit Rate</th>
                    <th>Total Basic<br />Amount (INR)</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th colspan="7" style="text-align: right">Gross Amount :</th>
                    <th style="text-align:right;"></th>
                </tr>
            </tfoot>
            <tbody></tbody>
        </table>
        <table width="100%">
            <tr>
                <td style="width:58%">Delivery&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<label id="Delivery_html" style="text-align:right;"></label></td>
                <td style="text-align:right;width:30%"><label id="lblDiscount_html">Discount :</label></td>
                <td style="text-align:right;width:22%"><label id="Discount_html"></label></td>
            </tr>
            <tr>
                <td>Gross weight&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<label id="GrossWeight_html" style="text-align:right;"></label></td>
                @*<td><label id="lblAssessableValue_html">Assessable Value:</label></td>
                    <td><label id="AssessableValue_html"></label></td>*@
            </tr>
            <tr>
                <td>Net weight&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<label id="NetWeight_html"></label></td>
                <td></td>
            </tr>
            @*<tr id="idEntryTax_html">
                    <td>&nbsp;<label></label></td>
                    <td style="text-align:right;width:30%">Entry Tax:</td>
                    <td style="text-align:right;width:22%"><label id="EntryTax_html"></label></td>
                </tr>*@
            <tr>
                <td>Payment Terms&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<label id="PaymentTerms_html"></label></td>
                <td style="text-align:right;width:30%">Taxable Turnover :</td>
                <td style="text-align:right;width:22%"><label id="TaxTornover_html"></label></td>
            </tr>
            <tr>
                <td>LR / RR No.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<label id="LRRNo_html"></label></td>
                <td style="text-align:right;width:30%"><label id="lblAgainstCFORM_html"></label></td>
                <td style="text-align:right;width:22%"><label id="AgainstCFORM_html"></label></td>
            </tr>
            <tr id="idSteteSess">
                <td>&nbsp;<label></label></td>
                <td style="text-align:right;width:30%"><label id="lblSteteSec_html"></label></td>
                <td style="text-align:right;width:22%"><label id="SteteSec_html"></label></td>
            </tr>
            <tr id="idStateAddTax">
                <td>&nbsp;<label></label></td>
                <td style="text-align:right;width:30%"><label id="lblStateAddTax_html"></label></td>
                <td style="text-align:right;width:22%"><label id="StateAddTax_html"></label></td>
            </tr>
            @*<tr id="idOrissaTax_html">
                    <td>&nbsp;<label></label></td>
                    <td style="text-align:right;width:30%">Entry Tax:</td>
                    <td style="text-align:right;width:22%"><label id="EntryTax_html"></label></td>
                </tr>*@
            <tr>
                <td>Transporter Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<label id="TransporterName_html"></label></td>
                <td style="text-align:right;width:30%">Total :</td>
                <td style="text-align:right;width:22%"><label id="Total_html"></label></td>
            </tr>
            <tr>
                <td>Lorry / Wagon No.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;<label id="LorryNum_html"></label></td>
                <td style="text-align:right;width:30%"><label id="lblInsuranceTPND_html">Insurance (TPND) @@ 0.022% :</label></td>
                <td style="text-align:right;width:22%"><label id="InsuranceTPND_html"></label></td>
            </tr>
            <tr>
                <td>Delivery/OBD Number.:&nbsp;&nbsp;&nbsp;<label id="OBDNum_html"></label></td>
                <td style="text-align:right;width:30%"><label id="lblFreightAmt_html">Freight Amount :</label></td>
                <td style="text-align:right;width:22%"><label id="FreightAmt_html"></label></tdstyle>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td><center><b>N.B. Articles of Asbestos Cement</b></center></td>
            </tr>
            <tr>
                <td>
                    Certified that the particulars given above are true and correct and the amount indicated represents the price
                    actually charged and that there is no flow of additional consideration directly or indirectly from the buyer.
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    <label id="lblInsuranceText_html"></label>
                </td>
            </tr>
            <tr>
                <td>&nbsp;<label></label></td>
                <td style="text-align:right;width:30%">Total :</td>
                <td style="text-align:right;width:30%"><label id="TotalFr_html"></label></td>
            </tr>
            <tr>
                <td>&nbsp;<label></label></td>
                <td style="text-align:right;width:30%">Total Amount (Rounded) :</td>
                <td style="text-align:right;width:30%"><label id="TotalAmountRound_html"></label></td>
            </tr>
        </table><br />
        <table border="1" cellspacing="0">
            <tr>
                <td>Rupees in Words:&nbsp;<label id="TotalAmtInWords_html"></label></td>
            </tr>
        </table>
        <br />
        <table id="tbl_Footer_Table_html" style="width:100%;margin-left:0;" cellspacing="0" border="1">
            <thead id="Zfoc_Depo_Footer_Header_html">
                <tr style="color: black;">
                    <th></th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @*<tr style="color: black;">
                        <td></td>
                        <td rowspan="2">.</td>
                    </tr>*@
                <tr style="color: black;">
                    <td>
                        Terms & Conditions:<br />
                        1. Our Responsibility ceases once the goods are delivered to the carrier.<br />
                        2. No claim would be considered for damage or Shortage thereafter.<br />
                        3. Materials once dispatched will NOT be taken back. <br />
                        @*4. Other Terms and conditions are mentioned overleaf are part and parcel of this sale transaction.<br />*@
                    </td>
                    @*<td></td>*@
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row" id="Zinv_Depo_View">
        <div class="col-md-12">
            <div class="box box-primary" style="background: white none repeat scroll 0 0; padding: 4px;">
                <div class="box-header">
                    <div class="row">
                        <div class="col-sm-4">
                            @*<img src="~/Images/CKBIRLA.png" class="img-thumbnail" alt="Cinque Terre" width="185" height="202" style="border:none;">*@
                        </div>
                        <div class="col-sm-6 text-center">
                            <h5>
                                <b>
                                    HIL Limited
                                    <br />
                                    <label id="lblPlantName"></label>
                                </b>
                            </h5>
                        </div>
                    </div>
                </div>
                <h5 class="text-center"><b>DEPOT FREE OF CHARGE INVOICE</b></h5>

                <div class="box-body pad">

                    <form class="form-horizontal" role="form" style="font-size: 12px; font-weight: normal" action="">
                        <input type="hidden" id="customermaster_id" data-ng-model="customermaster_id_Model" />

                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:12%;">
                                Billing Doc No:
                            </label>
                            <div class="col-sm-4">
                                <label class="control-label" id="BillingDoc" ng-model="BillingDoc">
                                </label>
                            </div>
                            <label class="col-sm-3 control-label">
                                OA/SO No & Date:
                            </label>
                            <div class="col-sm-3">
                                <label class="control-label" id="SalesOrderNo" ng-model="SalesOrderNo">
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:12%;">
                                Billing Date:
                            </label>
                            <div class="col-sm-4">
                                <label class="control-label" id="BillingDate" ng-model="BillingDate">
                                </label>
                            </div>
                            <label class="col-sm-3 control-label">
                                CIN No:
                            </label>
                            <div class="col-sm-3">
                                <label class="control-label" id="CINNo" ng-model="CINNo">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:12%;">
                                Sold To:
                            </label>
                            <div class="col-sm-4">
                                <label class="control-label" id="SoldTo" ng-model="SoldTo">
                                </label>
                            </div>
                            <label class="col-sm-3 control-label">
                                Order Ref and Date:
                            </label>
                            <div class="col-sm-3">
                                <label class="control-label" id="OrderRefDate" ng-model="OrderRefDate">
                                </label>
                            </div>
                        </div>
                        <table id="tbl_Inv_Details" style="width:85%;margin-left:0;">
                            <thead id="Zinv_Depo_header">
                                <tr style="color: black;">
                                    <th style="width:280px;" id="ExciseRange" align="left">Excise Range<br /></th>
                                    <th style="width:280px;" id="ExciseDivison" align="left">Excise Division<br /></th>
                                    <th style="width:280px;" id="ExciseCommissionerate" align="left">Excise Commissionerate<br /></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:12%;">
                                @*Date of Prep :*@
                            </label>
                            <div class="col-sm-4">
                                <label class="control-label" id="DOPrep" ng-model="Delivery">
                                </label>
                            </div>
                            <label class="col-sm-3 control-label">
                                @*Date of Removal :*@
                            </label>
                            <div class="col-sm-3">
                                <label class="control-label" id="DORemoval" ng-model="Discount">
                                </label>
                            </div>
                        </div>
                        <table id="tbl_Inv_Details1" style="width:85%;margin-left:0;" cellspacing="0">
                            <thead>
                                <tr style="color: black;">
                                    <th style="width:50px;">Material Code</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>UOM</th>
                                    <th>Material Group</th>
                                    <th>Weight (KG)</th>
                                    <th>Unit Rate</th>
                                    <th>Total Basic<br />Amount (INR)</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th colspan="7" style="text-align: right">Gross Amount :</th>
                                    <th style="text-align:right;"></th>
                                </tr>
                            </tfoot>
                            <tbody></tbody>
                        </table>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:15%;">
                                Delivery :
                            </label>
                            <div class="col-sm-4">
                                <label class="control-label" id="Delivery" ng-model="Delivery">
                                </label>
                            </div>
                            <label class="col-sm-3 control-label" id="lblDiscount">
                                Discount :
                            </label>
                            <div class="col-sm-3">
                                <label class="control-label" id="Discount" ng-model="Discount" style="margin-left:20%;">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:15%;">
                                Gross weight :
                            </label>
                            <div class="col-sm-4">
                                <label class="control-label" id="GrossWeight" ng-model="GrossWeight">
                                </label>
                            </div>
                            @*<label class="col-sm-3 control-label" id="lblAssessableValue">Assessable Value  :</label>
                                <div class="col-sm-3">
                                    <label class="control-label" id="AssessableValue" ng-model="AssessableValue" style="margin-left:20%;">
                                    </label>
                                </div>*@
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:15%;">
                                Net weight :
                            </label>
                            <div class="col-sm-4">
                                <label class="control-label" id="NetWeight" ng-model="NetWeight">
                                </label>
                            </div>
                            @*<label class="col-sm-3 control-label">Basic Excise Duty @@12.50% :</label>
                                <div class="col-sm-3">
                                    <label class="control-label" id="ExiceDuty" ng-model="ExiceDuty" style="text-align:right;">
                                    </label>
                                </div>*@
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:15%;">Payment Terms :</label>
                            <div class="col-sm-4">
                                <label class="control-label" id="PaymentTerms" ng-model="PaymentTerms">
                                </label>
                            </div>
                            <label class="col-sm-3 control-label">Taxable Turnover  :</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="TaxTornover" ng-model="TaxTornover" style="margin-left:20%;">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:15%;">LR / RR No.  :</label>
                            <div class="col-sm-4">
                                <label class="control-label" id="LRRNo" ng-model="LRRNo">
                                </label>
                            </div>
                            <label class="col-sm-3 control-label" id="lblAgainstCFORM"></label>
                            <div class="col-sm-3">
                                <label class="control-label" id="AgainstCFORM" ng-model="AgainstCFORM" style="margin-left:20%;">
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="idSteteSess">
                            <label class="col-sm-2 control-label" style="text-align:left;width:15%;"></label>
                            <div class="col-sm-4">
                                <label class="control-label" ng-model="asdo">
                                </label>
                            </div>
                            <label class="col-sm-3 control-label" id="lblSteteSec"></label>
                            <div class="col-sm-3">
                                <label class="control-label" id="SteteSec" ng-model="SteteSec" style="margin-left:20%;">
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="idStateAddTax">
                            <label class="col-sm-2 control-label" style="text-align:left;width:15%;"></label>
                            <div class="col-sm-4">
                                <label class="control-label" ng-model="asdo">
                                </label>
                            </div>
                            <label class="col-sm-3 control-label" id="lblStateAddTax"></label>
                            <div class="col-sm-3">
                                <label class="control-label" id="StateAddTax" ng-model="StateAddTax" style="margin-left:20%;">
                                </label>
                            </div>
                        </div>
                        @*<div class="form-group" id="idEntryTax">
                                <label class="col-sm-2 control-label" style="text-align:left;width:15%;">

                                </label>
                                <div class="col-sm-4">
                                    <label class="control-label" id="qwe" ng-model="NetWeight">
                                    </label>
                                </div>
                                <label class="col-sm-3 control-label">Entry Tax :</label>
                                <div class="col-sm-3">
                                    <label class="control-label" id="EntryTax" ng-model="EntryTax" style="margin-left:20%;">
                                    </label>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:15%;">Transporter Name :</label>
                            <div class="col-sm-4">
                                <label class="control-label" id="TransporterName" ng-model="TransporterName">
                                </label>
                            </div>
                            <label class="col-sm-3 control-label">Total  :</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="Total" ng-model="Total" style="margin-left:20%;">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:15%;">Lorry / Wagon No. :</label>
                            <div class="col-sm-4">
                                <label class="control-label" id="LorryNum" ng-model="LorryNum">
                                </label>
                            </div>
                            <label class="col-sm-3 control-label" id="lblInsuranceTPND">Insurance (TPND) @@ 0.022% :</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="InsuranceTPND" ng-model="InsuranceTPND" style="margin-left:20%;">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:15%;">Delivery/OBD Number. :</label>
                            <div class="col-sm-4">
                                <label class="control-label" id="OBDNum" ng-model="OBDNum">
                                </label>
                            </div>
                            <label class="col-sm-3 control-label" id="lblFreightAmt">Freight Amount :</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="FreightAmt" ng-model="FreightAmt" style="margin-left:20%;">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:15%;"></label>
                            <div class="col-sm-4">
                                <label class="control-label" style="text-align:left;" id="ExciseAmtInWords" ng-model="ExciseAmtInWords">
                                </label>
                            </div>
                            <label class="col-sm-3 control-label">Total :</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="TotalFr" ng-model="TotalFr" style="margin-left:20%;">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:15%;">
                            </label>
                            <div class="col-sm-4">
                                <label class="control-label" id="Disclamar" ng-model="EmptyID">

                                </label>
                            </div>
                            <label class="col-sm-3 control-label">Total Amount (Rounded) :</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="TotalAmountRound" ng-model="TotalAmountRound" style="margin-left:20%;">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align:left;width:15%;">Rupees in Words :</label>
                            <div class="col-sm-4">
                                <label class="control-label" style="text-align:left;" id="TotalAmtInWords" ng-model="TotalAmtInWords">
                                </label>
                            </div>
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-3">
                                <label class="control-label">
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <br />
                <br />
            </div>
        </div>
    </div>

</section>

<script>
    var Gross_Weight = "";
    var userRole;
    $(document).ready(function () {
        $("#tbl_Inv_Details").dataTable({
            "bDestroy": true,
            "bSort": false,
            "bScrollCollapse": true,
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": false
            //'scrollX': true
        });

        //For PDF
        $("#tbl_Inv_Details_html").dataTable({
            "bDestroy": true,
            "bSort": false,
            "bScrollCollapse": true,
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": false
            //'scrollX': true
        });

        $("#tbl_Inv_Details1").dataTable({
            "bDestroy": true,
            "bSort": false,
            "bScrollCollapse": true,
            "paging": false,
            "columnDefs": [
                {
                    "targets": [0],
                    className: "dt-body-center"

                },
            {
                "targets": [2],
                className: "dt-body-right"

            },
            {
                "targets": [3],
                className: "dt-body-center"
            },
            {
                "targets": [4],
                className: "dt-body-center"
            },
            {
                "targets": [5],
                className: "dt-body-right"
            },
            {
                "targets": [6],
                className: "dt-body-right"
            },
            {
                "targets": [7],
                className: "dt-body-right"
            }
            ],
            "ordering": false,
            "info": false,
            "bFilter": false,
            "footerCallback": function (tfoot, data, start, end, display) {
                var api = this.api();
                $(api.column(7).footer()).html(
                    api.column(7).data().reduce(function (a, b) {
                        var res = parseFloat(a) + parseFloat(b);
                        return parseFloat(0).toFixed(2);
                    }, 0)
                );
                //    Gross_Weight = api
                //                .column(4, { page: 'current' })
                //                .data()
                //                .reduce(function (a, b) {
                //                    return intVal(a) + intVal(b);
                //                }, 0);
            }
            //'scrollX': true
        });

        //$("#tbl_Inv_Details1_html").dataTable({
        //    "bDestroy": true,
        //    "bSort": false,
        //    "bScrollCollapse": true,
        //    "paging": false,
        //    "columnDefs": [
        //    {
        //        "targets": [2],
        //        className: "dt-body-right"

        //    },
        //    {
        //        "targets": [5],
        //        className: "dt-body-right"
        //    },
        //    {
        //        "targets": [6],
        //        className: "dt-body-right"
        //    },
        //    {
        //        "targets": [7],
        //        className: "dt-body-right"
        //    }
        //    ],
        //    "ordering": false,
        //    "info": false,
        //    "bFilter": false,
        //    "footerCallback": function (tfoot, data, start, end, display) {
        //        var api = this.api();
        //        $(api.column(7).footer()).html(
        //            api.column(7).data().reduce(function (a, b) {
        //                var res = parseFloat(a) + parseFloat(b);
        //                return Number(0).toFixed(2);
        //            }, 0)
        //        );
        //        //    Gross_Weight = api
        //        //                .column(4, { page: 'current' })
        //        //                .data()
        //        //                .reduce(function (a, b) {
        //        //                    return intVal(a) + intVal(b);
        //        //                }, 0);
        //    }
        //    //'scrollX': true
        //});

        userRole = SessionValue;
    });

    function GetPDFFile() {
        $.ajax({
            url: '/Home/Exportdata',
            type: 'POST',
            beforeSend: function () {
                //ShowLoader();
            },
            data: { QueryVal: $('#Zinv_Depo_View_html').html() },
            success: function (result) {
                if (result == "ok") {
                    if ((userRole == "STOCKIST") || (userRole == "BU3_STK")) {
                        $.ajax({
                            type: 'POST',
                            async: false,
                            data: { reportname: "InvoiceDetail_" + $("#BillingDoc").text() },
                            //datatype: 'JSON',
                            url: '../../HOME/GetPDF_STOCKIST',
                            success: function (data) {
                                if (data == "MailSentSuccessfully") {
                                    alert("Mail Sent Successfully");
                                } else {
                                    alert(data);
                                }
                            },
                            error: function (e) {
                                alert("Technical Error Occured");
                            }
                        });

                        //   window.location.href = "../../Home/GetPDF_STOCKIST?reportname=CreditNote_" + $("#DocNo").text() + "";
                    } else {
                        window.location.href = "../../Home/GetPDF?reportname=InvoiceDetail_" + $("#BillingDoc_html").text();
                    }

                    //$("#PrintReport").css("display", "block");

                }
            },
            error: function (e) {
                alert(e);
            }
        });
    }
</script>
