@{
    Layout = null;
    DIMS.Models.UserProperties UP = (DIMS.Models.UserProperties)Session["UP"];
    string SessionSITEDETAIL_CODE = UP.SITEDETAIL_CODE;
    string SessionUserCode = UP.UserCode;
    string SessionUserName = UP.UserName;
    string SessionCOMPANYDETAIL_CODE = UP.COMPANYDETAIL_CODE;
    string SessionUserTypeCode = UP.UserTypeCode;
    string SessionUserType = UP.UserType;
}

<style type="text/css">

    table tbody tr {
    
    cursor:default;
    }
</style>


<section class="content-header" style="padding: 1px 15px 0;">
    <h2>Transactions Velocity Report</h2>
    <ol class="breadcrumb">
        <li><a href ng-click="go('home')"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href ng-click="go('UnnatiDashBoard')">UNNATI</a></li>
        <li class="active">Transactions Velocity Report</li>
    </ol>
    <nav style="padding: 1px 10px 1px 10px;">
        <div class="row">
            <div class="col-sm-11" id="IconsNavBar">

                <a href ng-click="DownloadFile('EXCEL')">
                    <i class="fa fa-file-excel-o fa-4" title="Download Excel"></i>

                </a>
                <a href ng-click="DownloadFile('TEXT')">
                    <i class="fa fa-file-text-o fa-4" title="Download Text"></i>
                </a>

            </div>
        </div>
    </nav>
</section>

<section class="content" style="max-height: 478px; overflow-y: scroll;">

    <div class="col-md-12">
        <div class="box box-primary" style="background: white none repeat scroll 0 0; padding: 4px;">
            <div class="box-header" style="overflow-x: scroll; width: 98%">
                <form role="form" name="UnnatiTransactionVelocityForm" class="form-horizontal">
                    <input type="text" id="USERNAME_UnnatiTransactionVelocity" style="display: none;" value="@SessionUserName" />
                    <input type="text" id="USERCODE_UnnatiTransactionVelocity" style="display: none;" value="@SessionUserCode" />
                    <input type="text" id="USERTYPE_UnnatiTransactionVelocity" style="display: none;" value="@SessionUserTypeCode" />
                    <div class="form-group">
                        <label class="col-sm-2 control-label">From Date<span class="Mandatory">*</span>&nbsp;</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="TransactionVelocityFromDate" ng-model="TransactionVelocityFromDate" readonly required placeholder="Select Date" />
                        </div>
                        <label class="col-sm-2 control-label">To Date<span class="Mandatory">*</span>&nbsp;</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="TransactionVelocityToDate" ng-model="TransactionVelocityToDate" readonly required placeholder="Select Date" />
                        </div>
                        <label class="col-sm-2 control-label">Member Type</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="TransactionVelocityMemberType" ng-model="TransactionVelocityMemberType">
                                <option value="ALL">ALL</option>
                                <option value="Stockist">Stockist</option>
                                <option value="Retailer">Retailer</option>
                            </select>
                        </div>

                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">Zone</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="TransactinoVelocityZone"  onchange="GetStateMasterVeloucity()">

                            </select>
                        </div>
                        <label class="col-sm-2 control-label">State</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="TransactinoVelocityState"  onchange="GetDistrictMasterVeloucity()">
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">District</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="TransactinoVelocityDistrict" >
@*                                <option value="ALL">ALL</option>
                                <option ng-repeat="sel in TransactinoVelocityDistrictArray" value="{{sel.DISTRICT}}">{{sel.DISTRICT}}</option>*@

                            </select>
                        </div>
                    </div>


                    @*<div class="form-group">
                        <label class="col-sm-2 control-label">Taluk:</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="TransactinoVelocityTaluk" ng-model="TransactinoVelocityTaluk"  ng-change="GetVillageMaster()">
                                <option value="ALL">ALL</option>
                                <option ng-repeat="sel in TransactinoVelocityTalukArray" value="{{sel.TALUK}}">{{sel.TALUK}}</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Village:</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="TransactinoVelocityVillage" ng-model="TransactinoVelocityVillage">
                                 <option value="ALL">ALL</option>
                                <option ng-repeat="sel in TransactinoVelocityVillageArray" value="{{sel.VILLAGE}}">{{sel.VILLAGE}}</option>
                            </select>
                        </div>
                    </div>*@

                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-3">
                            <input type="button" class="btn btn-success" value="Submit" style="background-color: #d2401a;" name="Submit" ng-click="GetTransactionVelocityReport()">
                        </div>
                    </div>


                </form>
                <input type="button" value="Advanced" data-toggle="tooltip" data-placement="right" ng-disabled="UnnatiTransactionVelocityForm.$invalid" id="AdvancedColumnEditing" style="background-color: #d2401a" class="smallbutton" data-toggle="modal" data-target="#" ng-click="OpenColumnEditing()" />
                <label class="control-label-Nodata " id="TransactionVelocityNodataLabel" style="display: none;">No data available....</label>
                <table id="transactionVelocityReport_Table" class="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <br />

                <div class="form-group PageTotals">
                    <label class="col-sm-3 control-label" style="font-weight: bold; text-align: right; margin-top: 1%;">TOTAL Points Rewarded </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control gray" style="font-weight: bold" disabled="disabled" id="Points_Rewarded_TOTAL" />
                    </div>
                    <label class="col-sm-4 control-label" style="font-weight: bold; text-align: right; margin-top: 1%;">TOTAL Quantity Sold/Purchased (Mtr) </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control gray" style="font-weight: bold;" disabled="disabled" id="Total_Quantity_Sold_Purchased_Mtr_TOTAL" />
                    </div>
                </div>


            </div>



        </div>
    </div>

</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#AdvancedColumnEditing").attr("title", ToolTipvalue);
        $("#TransactionVelocityFromDate").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            endDate: SERVER_DATE
        });
        $("#TransactionVelocityToDate").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            endDate: SERVER_DATE
        });
        $('#transactionVelocityReport_Table').parents('div.dataTables_wrapper').first().hide();
        $(".PageTotals").css('display', 'none');
        //$("#transactionVelocityReport_Table").dataTable({ "scrollX": true });
    });


</script>

