@{
    Layout = null;
    DIMS.Models.UserProperties UP = (DIMS.Models.UserProperties)Session["UP"];
    string SessionSITEDETAIL_CODE = UP.SITEDETAIL_CODE;
    string SessionUserCode = UP.UserCode;
    string SessionUserName = UP.UserName;
    string SessionCOMPANYDETAIL_CODE = UP.COMPANYDETAIL_CODE;
    string SessionUserTypeCode = UP.UserTypeCode;
    string SessionUserType = UP.UserType;
}

<style type="text/css">


    table tbody tr {
    
    cursor:default;
    }
</style>


<section class="content-header" style="padding: 1px 15px 0;">
    <h2>Transactions Status Report</h2>
    <ol class="breadcrumb">
        <li><a href ng-click="go('home')"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href ng-click="go('UnnatiDashBoard')">UNNATI</a></li>
        <li class="active">Transactions Status Report</li>
    </ol>
    <nav style="padding: 1px 10px 1px 10px;">
        <div class="row">
            <div class="col-sm-11" id="IconsNavBar">

@*                                 <a href ng-click="Get()">
                    <i class="fa fa-file-excel-o fa-4" title="Upload Transaction"></i>

                </a>*@

                <a href ng-click="DownloadFile('EXCEL')">
                    <i class="fa fa-file-excel-o fa-4" title="Download Excel"></i>

                </a>
                <a href ng-click="DownloadFile('TEXT')">
                    <i class="fa fa-file-text-o fa-4" title="Download Text"></i>
                </a>

            </div>
        </div>
    </nav>
</section>

<div  class="CustomHeight_Section" style="overflow: auto;">
<section style="padding:0 15px 90px;">
    <div class="row">
    <div class="col-md-12">
        <div class="box box-primary" style="background: white none repeat scroll 0 0; padding: 4px;">
            <div class="box-body" style="overflow-x: scroll; width: 98%">
                <form role="form" name="UnnatiTransactionStatusForm" class="form-horizontal">
                    <input type="text" id="USERNAME_UnnatiTransactionStatus" style="display: none;" value="@SessionUserName" />
                    <input type="text" id="USERCODE_UnnatiTransactionStatus" style="display: none;" value="@SessionUserCode" />
                    <input type="text" id="USERTYPECODE_UnnatiTransactionStatus" style="display: none;" value="@SessionUserTypeCode" />
                    <div class="form-group">
                        <label class="col-sm-2 control-label">From Date<span class="Mandatory">*</span>&nbsp;</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="TransactionStatusFromDate" ng-model="TransactionStatusFromDate" readonly required placeholder="Select Date" />
                        </div>
                        <label class="col-sm-2 control-label">To Date<span class="Mandatory">*</span>&nbsp;</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="TransactionStatusToDate" ng-model="TransactionStatusToDate" readonly required placeholder="Select Date" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Zone</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="TransactionStatusZone" onchange="GetStateMasterStatus()">
                                @*<option value="ALL">ALL</option>
                                <option value="North 1">North 1</option>*@
@*                                <option value="ALL">ALL</option>
                                <option ng-repeat="sel in TransStatusZoneArray" value="{{sel.ZONE_CODE}}">{{sel.ZONE_NAME}}</option>*@
                            </select>                          
                        </div>
                        <label class="col-sm-2 control-label">State</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="TransactionStatusState">
@*                                <option value="ALL">ALL</option>
                                <option ng-repeat="sel in TransStatusStateArray" value="{{sel.STATE_CODE}}">{{sel.STATE_NAME}}</option>*@
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Status</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="TransactionStatusStatus" ng-model="TransactionStatusStatus">
                                <option value="ALL">ALL</option>
                                <option value="Approved">Approved</option>
                                <option value="Pending">Pending</option>
                                <option value="Rejected">Rejected</option>
                                <option value="Edited">Edited</option>
                                <option value="Second Approval">Second Approval</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-3">
                            <input type="button" class="btn btn-success" value="Submit" style="background-color: #d2401a;border:1px solid #d2401a;" name="Submit" ng-click="GetTransactionStatusReport()">
                        </div>
                    </div>
                </form>
                <input type="button" value="Advanced" data-toggle="tooltip" data-placement="right" ng-disabled="UnnatiTransactionStatusForm.$invalid" id="AdvancedColumnEditing" style="background-color: #d2401a" class="smallbutton" data-toggle="modal" data-target="#" ng-click="OpenColumnEditing()" />
                <label class="control-label-Nodata " id="TransactionStatusNodataLabel" style="display: none;">No data available....</label>
                <div style="padding:10px;"></div>
                <table id="TransactionStatusReport_Table" class="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div style="padding:10px;"></div>
                <!- --------------------------- ->
                <form role="form" class="form-horizontal">
                <div class="row TransactionStatusReportTotals">
                    <div class="col-sm-6">
                    <label class="col-sm-6 control-label" style="font-weight: bold; text-align: right;">TOTAL Quantity (No) </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control gray" style="font-weight: bold" disabled="disabled" id="Total_Quantity_Mtr" />
                    </div>
                    </div>
                    <div class="col-sm-6">
                    <label class="col-sm-6 control-label" style="font-weight: bold; text-align: right;">TOTAL Quantity (Mtr) </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control gray" style="font-weight: bold" disabled="disabled" id="Total_Mtr" />
                    </div>
                    </div>
                </div>
                <div style="padding:10px;"></div>
                <div class="row TransactionStatusReportTotals">
                    <div class="col-sm-6">
                    <label class="col-sm-6 control-label" style="font-weight: bold; text-align: right;">TOTAL Points </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control gray" style="font-weight: bold" disabled="disabled" id="Total_Points" />
                    </div>
                    </div>
                </div>
                <div style="padding:10px;"></div>
                </form>
                <!- --------------------------- ->
            </div>
        </div>
    </div>
    </div>
</section>
</div>
<script type="text/javascript">

    $(window).resize(function () {
        $('.CustomHeight_Section').height($(window).height() - 170);
    });
    $('.CustomHeight_Section').height($(window).trigger('resize'));


    $(document).ready(function () {
        $("#AdvancedColumnEditing").attr("title", ToolTipvalue);
        $("#TransactionStatusFromDate").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            endDate: SERVER_DATE
        });
        $("#TransactionStatusToDate").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            endDate: SERVER_DATE
        });
        //TableDataTable= $('#TransactionStatusReport_Table').dataTable();
        $('#TransactionStatusReport_Table').parents('div.dataTables_wrapper').first().hide();

        $(".TransactionStatusReportTotals").css('display', 'none');

    });

</script>

