
@*@{
    Layout = null;
}*@

<section class="content-header" style="padding: 1px 15px 0;">
   <h2>Order Management</h2>
    <ol class="breadcrumb">
        <li><a href="#" onclick="GetForm('Home')"><i class="fa fa-dashboard"></i>Home</a></li>
        <li>Management</li>
        <li class="active">View Orders</li>
    </ol>
    sdfdfsdfsdfsddsf
</section>




