@{
    Layout = null;
}


<section class="content-header" style="padding: 1px 15px 0;">
    <h2>Complaint Registration</h2>
    <ol class="breadcrumb">
        <li><a href ng-click="go('home')"><i class="fa fa-dashboard"></i>Home</a></li>
        <li>Complaint Registration</li>
        <li class="active">Complaint Registration</li>
    </ol>
</section>



<div  class="CustomHeight_Section" style="overflow: auto;">
<section style="padding:0 15px 90px;">

    <!--- Dummy --->

    <input type="button" value="Add" onclick="SaveFunction()" style="background-color: #3295D6" />

    <!--- Dummy --->


    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary" style="background: white none repeat scroll 0 0; padding: 4px;">
                <div class="box-body">
                    @*                    <h3 class="box-title">Complaint Registration</h3>*@
                    <form class="form-horizontal ng-pristine ng-valid" role="form" method="get" action="#">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                Complaint Received Date<span class="Mandatory">*</span></label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="complaintReceivedDate_CRT" data-ng-model="complaintReceivedDate_CRT" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                Complaint Registration Date</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="ComplaintRegistrationDate_CRT" data-ng-model="ComplaintRegistrationDate_CRT" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                Registrant Type<span class="Mandatory">*</span></label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="Registrant_Type" data-ng-model="Registrant_Type" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                Sales Representative Employee Code<span class="Mandatory">*</span></label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="Sales_Representative_Employee_Code" data-ng-model="Sales_Representative_Employee_Code" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                Sales Representative Employee Name<span class="Mandatory">*</span></label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="Sales_Representative_Employee_Name" data-ng-model="Sales_Representative_Employee_Name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                Complaint Desc</label>
                                            <div class="col-sm-7">
                                                <textarea class="form-control" id="Complaint_Desc" data-ng-model="Complaint_Desc" maxlength="300"></textarea>
                                                @*                                                <input type="text" class="form-control" id="Complaint_Desc" data-ng-model="Complaint_Desc" />*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                Remarks</label>
                                            <div class="col-sm-7">
                                                <textarea class="form-control" id="Remarks" data-ng-model="Remarks" maxlength="300"></textarea>
                                                @*                                                <input type="text" class="form-control" id="Remarks" data-ng-model="Remarks" />*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                Complaint Tracking No</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" data-ng-model="Complaint_Tracking_No" id="Complaint_Tracking_No" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                CR Series Code<span class="Mandatory">*</span></label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" data-ng-model="CR_Series_Code" id="CR_Series_Code" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                Registration Status</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" data-ng-model="Registration_Status" id="Registration_Status" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                Complaint Code</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" data-ng-model="Complaint_Code" id="Complaint_Code" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                Approved Date</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" data-ng-model="Approved_Date" id="Approved_Date" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 tabdiv">
                                <div class="col-sm-12 CloseOpen" onclick="FormToggle('CustDetails')">
                                    <img src="~/Images/en_next.png" id="CustDetails_Img" />
                                    <a class="Expand">Customer Details</a>
                                </div>

                                <div class="row" style="padding-top: 30px; display: none;" id="CustDetails_Form">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Customer Code<span class="Mandatory">*</span></label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Customer_Code" data-ng-model="Customer_Code" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Customer Name<span class="Mandatory">*</span></label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Customer_Name" data-ng-model="Customer_Name" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Customer Type</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Customer_Type" data-ng-model="Customer_Type" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Location</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Customer_Location" data-ng-model="Customer_Location" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        City</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Contact_City" data-ng-model="Contact_City" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        State<span class="Mandatory">*</span></label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Contact_State" data-ng-model="Contact_State" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Area<span class="Mandatory">*</span></label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Contact_Area" data-ng-model="Contact_Area" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Contact Person</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Contact_Person" data-ng-model="Contact_Person" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Contact Number</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Contact_Number" data-ng-model="Contact_Number" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Fax</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Customer_Fax" data-ng-model="Customer_Fax" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Email</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Customer_Email" data-ng-model="Customer_Email" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Complaint Mode</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Complaint_Mode" data-ng-model="Complaint_Mode" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Product Type<span class="Mandatory">*</span></label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Product_Type" data-ng-model="Product_Type" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Product Category<span class="Mandatory">*</span></label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Product_Category" data-ng-model="Product_Category" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Sub-Stockiest/Direct Customer</label>
                                                    <div class="col-sm-7">
                                                        <textarea class="form-control" id="SubStockiest_Direct_Customer" data-ng-model="SubStockiest_Direct_Customer" maxlength="300"></textarea>
                                                        @*                                                        <input type="text" class="form-control" id="Sub-Stockiest_Direct_Customer" data-ng-model="Sub-Stockiest_Direct_Customer" />*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Is Project Party ?<span class="Mandatory">*</span></label>
                                                    <div class="col-sm-7">
                                                        <input type="checkbox" id="Is_Project_Party" data-ng-model="Is_Project_Party" />
                                                        @*                                                        <input type="text" class="form-control" id="Is_Project_Party" data-ng-model="Is_Project_Party" />*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Site Address</label>
                                                    <div class="col-sm-7">
                                                        <textarea class="form-control" id="Site_Address" data-ng-model="Site_Address" maxlength="300"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 tabdiv">
                                <div class="col-sm-12 CloseOpen" onclick="FormToggle('Material_Supply_Detail')">
                                    <img src="~/Images/en_next.png" id="Material_Supply_Detail_Img" />
                                    <a class="Expand">Material Supply Detail</a>
                                </div>

                                <div class="row" style="padding-top: 30px; display: none;" id="Material_Supply_Detail_Form">
                                    <div class="col-sm-12">
                                        <table class="table innertable" id="Material_Supply_Detail_Table">
                                            <thead>
                                                <tr style="background-color: #B2CCED">
                                                    <th>S.No</th>
                                                    <th>Material Belongs To</th>
                                                    <th>Product Supplied From</th>
                                                    <th>Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                        <input type="button" value="Add" id="Mat_Sup_Det_Add" style="background-color: #3295D6" class="smallbutton" data-toggle="modal" data-target="#" onclick="OpenMSDModel()" />

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 tabdiv">
                                <div class="col-sm-12 CloseOpen" onclick="FormToggle('Priortize_Classify')">
                                    <img src="~/Images/en_next.png" id="Priortize_Classify_Img" />
                                    <a class="Expand">Priortize & Classify</a>
                                </div>

                                <div class="row" style="padding-top: 30px; display: none;" id="Priortize_Classify_Form">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">

                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Complaint Type<span class="Mandatory">*</span></label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Complaint_Type" data-ng-model="Complaint_Type" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Complaint Category</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Complaint_Category" data-ng-model="Complaint_Category" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-6">

                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Complaint Priority</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Complaint_Priority" data-ng-model="Complaint_Priority" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                                        Complaint_Severity</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Complaint_Severity" data-ng-model="Complaint_Severity" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 tabdiv">
                                <div class="col-sm-12 CloseOpen" onclick="FormToggle('Receipt_Details_Sheeting')">
                                    <img src="~/Images/en_next.png" id="Receipt_Details_Sheeting_Img" />
                                    <a class="Expand">Receipt Details For Sheeting</a>
                                </div>

                                <div class="row" style="padding-top: 30px; display: none;" id="Receipt_Details_Sheeting_Form">
                                    <div class="col-sm-12">
                                        <table class="table innertable" id="Receipt_Details_Sheeting_Table">
                                            <thead>
                                                <tr style="background-color: #B2CCED">
                                                    <th>S No</th>
                                                    <th>Item Type(Product Name)</th>
                                                    <th>Size(M)</th>
                                                    <th>Invoice No</th>
                                                    <th>Invoice Date</th>
                                                    <th>Batch No</th>
                                                    <th>Received Qty (Nos)</th>
                                                    <th>Breakage Qty(Nos)</th>
                                                    <th>Type of Defect</th>
                                                    <th>Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                            <tfoot>
                                                <tr style="background-color: #B2CCED; display: none;">
                                                    <th>S No</th>
                                                    <th>Item Type(Product Name)</th>
                                                    <th>Size(M)</th>
                                                    <th>Invoice No</th>
                                                    <th>Invoice Date</th>
                                                    <th>Batch No</th>
                                                    <th>Received Qty (Nos)</th>
                                                    <th>Breakage Qty(Nos)</th>
                                                    <th>Type of Defect</th>
                                                    <th>Remarks</th>
                                                </tr>
                                            </tfoot>
                                        </table>

                                        @*                                        <input type="button" value="Add" id="Receipt_Details_Sheeting_Add" style="background-color: #3295D6" class="smallbutton" data-toggle="modal" data-target="#ReceiptDetailsForSheetingModal" />*@
                                        <input type="button" value="Add" id="Receipt_Details_Sheeting_Add" style="background-color: #3295D6" class="smallbutton" data-toggle="modal" data-target="#" onclick="OpenRDSTModel()" />

                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="modal fade" id="ReceiptDetailsForSheetingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Receipt Details For Sheeting</h4>
            </div>
            <div class="modal-body">



                <form class="form-horizontal ng-pristine ng-valid" role="form" method="get" action="#">
                    <div class="row">

                        <input type="hidden" id="RDFS_id" data-ng-model="RDFS_id" />

                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group">
                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                        Item Type(Product Name)<span class="Mandatory">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="Item_Type_Product_Name" data-ng-model="Item_Type_Product_Name" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group">
                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                        Size(M)<span class="Mandatory">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="Size_M" data-ng-model="Size_M" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group">
                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                        Invoice No</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="Invoice_No" data-ng-model="Invoice_No" />
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group">
                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                        Invoice Date</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="Invoice_Date" data-ng-model="Invoice_Date" readonly="readonly" />
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group">
                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                        Batch No</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="Batch_No" data-ng-model="Batch_No" />
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group">
                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                        Received Qty (Nos)<span class="Mandatory">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="Received_Qty_Nos" data-ng-model="Received_Qty_Nos" />
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group">
                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                        Breakage Qty(Nos)<span class="Mandatory">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="Breakage_Qty_Nos" data-ng-model="Breakage_Qty_Nos" />
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group">
                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                        Defect Type<span class="Mandatory">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="Defect_Type" data-ng-model="Defect_Type" />
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group">
                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                        Remarks</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="RDFSRemarks" data-ng-model="RDFSRemarks" />
                                    </div>
                                </div>
                            </div>
                        </div>








                    </div>
                </form>


                @*
                 * 
* 



* 
* 
* 
 *@


            </div>
            <div class="modal-footer">
                <button type="button" id="RDST_Close" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="RDST_Delete" class="btn btn-danger" onclick="DeleteRDFS()">Delete</button>
                <button type="button" id="RDST_Save" class="btn btn-primary" onclick="SaveRDFSData()">Save</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="MaterialSupplyDetailModal" tabindex="-1" role="dialog" aria-labelledby="MSDModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="MSDModalLabel">Material Supply Detail</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal ng-pristine ng-valid" role="form" method="get" action="#">
                    <div class="row">
                        <input type="hidden" id="MSD_id" data-ng-model="MSD_id" />
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group">
                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                        Material Belongs To<span class="Mandatory">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="Material_Belongs_To" data-ng-model="Material_Belongs_To" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group">
                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                        Product Supplied From</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="Product_Supplied_From" data-ng-model="Product_Supplied_From" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group">
                                    <label for="label-2-2" class="col-sm-5 control-label" style="text-align: right;">
                                        Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="MSD_Name" data-ng-model="MSD_Name" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="MSD_Close" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="MSD_Delete" class="btn btn-danger" onclick="DeleteMSD()">Delete</button>
                <button type="button" id="MSD_Save" class="btn btn-primary" onclick="SaveMSDData()">Save</button>
            </div>
        </div>
    </div>
</div>

</div>

<script type="text/javascript">
    $(window).resize(function () {
        $('.CustomHeight_Section').height($(window).height() - 170);
    });
    $('.CustomHeight_Section').height($(window).trigger('resize'));

    $(document).ready(function ()
    {
    });


    $(function ()
    {
        $("#complaintReceivedDate_CRT").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });
        $("#ComplaintRegistrationDate_CRT").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });
        $("#Approved_Date").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });
        $("#Invoice_Date").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });


        //Receipt_Details_Sheeting_Table

    });



    /*       Receipt Details For Sheeting       */


    function OpenRDSTModel()
    {
        try
        {
            $("#RDFS_id").val("");
            $("#Item_Type_Product_Name").val("");
            $("#Size_M").val("");
            $("#Invoice_No").val("");
            $("#Invoice_Date").val("");
            $("#Batch_No").val("");
            $("#Received_Qty_Nos").val("");
            $("#Breakage_Qty_Nos").val("");
            $("#Defect_Type").val("");
            $("#RDFSRemarks").val("");

            $("#RDST_Delete").hide();
            $("#RDST_Save").text("Save");

            $("#ReceiptDetailsForSheetingModal").modal('show');
        }
        catch (e)
        {
            alert("Error : OpenRDSTModel :" + e);
        }
    }


    function SaveRDFSData()
    {
        try
        {
            var RDFS_id = $("#RDFS_id").val();

            var Item_Type_Product_Name = $("#Item_Type_Product_Name").val();
            var Size_M = $("#Size_M").val();
            var Invoice_No = $("#Invoice_No").val();
            var Invoice_Date = $("#Invoice_Date").val();
            var Batch_No = $("#Batch_No").val();
            var Received_Qty_Nos = $("#Received_Qty_Nos").val();
            var Breakage_Qty_Nos = $("#Breakage_Qty_Nos").val();
            var Defect_Type = $("#Defect_Type").val();
            var RDFSRemarks = $("#RDFSRemarks").val();



            var Flag = 0;

            if (Item_Type_Product_Name == "")
            {
                Flag = Flag + 1;
                $("#Item_Type_Product_Name").css("border-color", "red");
            }
            else
            {
                $("#Item_Type_Product_Name").css("border-color", "#d2d6de");
            }

            if (Size_M == "")
            {
                Flag = Flag + 1;
                $("#Size_M").css("border-color", "red");
            }
            else
            {
                $("#Size_M").css("border-color", "#d2d6de");
            }

            if (Received_Qty_Nos == "")
            {
                Flag = Flag + 1;
                $("#Received_Qty_Nos").css("border-color", "red");
            }
            else
            {
                $("#Received_Qty_Nos").css("border-color", "#d2d6de");
            }

            if (Breakage_Qty_Nos == "")
            {
                Flag = Flag + 1;
                $("#Breakage_Qty_Nos").css("border-color", "red");
            }
            else
            {
                $("#Breakage_Qty_Nos").css("border-color", "#d2d6de");
            }

            if (Defect_Type == "")
            {
                Flag = Flag + 1;
                $("#Defect_Type").css("border-color", "red");
            }
            else
            {
                $("#Defect_Type").css("border-color", "#d2d6de");
            }


            if (Flag > 0)
            {
                return;
            }
            else
            {
                var TRCode = "";

                TRCode = TRCode + "<td>" + Item_Type_Product_Name + "</td>";
                TRCode = TRCode + "<td>" + Size_M + "</td>";
                TRCode = TRCode + "<td>" + Invoice_No + "</td>";
                TRCode = TRCode + "<td>" + Invoice_Date + "</td>";
                TRCode = TRCode + "<td>" + Batch_No + "</td>";
                TRCode = TRCode + "<td>" + Received_Qty_Nos + "</td>";
                TRCode = TRCode + "<td>" + Breakage_Qty_Nos + "</td>";
                TRCode = TRCode + "<td>" + Defect_Type + "</td>";
                TRCode = TRCode + "<td>" + RDFSRemarks + "</td>";

                if (RDFS_id == "")
                {
                    RDFS_id = $("#Receipt_Details_Sheeting_Table tbody tr").length + 1;
                    TRCode = "<tr class='MousePointer' id='RDSTTR_" + RDFS_id + "' onclick='EditRDST(this.id)'><td>" + RDFS_id + "</td>" + TRCode + "</tr>";
                    $("#Receipt_Details_Sheeting_Table tbody").append(TRCode);
                }
                else
                {
                    $("#Receipt_Details_Sheeting_Table tbody #RDSTTR_" + RDFS_id + " td")[0].innerHTML = RDFS_id;
                    $("#Receipt_Details_Sheeting_Table tbody #RDSTTR_" + RDFS_id + " td")[1].innerHTML = Item_Type_Product_Name;
                    $("#Receipt_Details_Sheeting_Table tbody #RDSTTR_" + RDFS_id + " td")[2].innerHTML = Size_M;
                    $("#Receipt_Details_Sheeting_Table tbody #RDSTTR_" + RDFS_id + " td")[3].innerHTML = Invoice_No;
                    $("#Receipt_Details_Sheeting_Table tbody #RDSTTR_" + RDFS_id + " td")[4].innerHTML = Invoice_Date;
                    $("#Receipt_Details_Sheeting_Table tbody #RDSTTR_" + RDFS_id + " td")[5].innerHTML = Batch_No;
                    $("#Receipt_Details_Sheeting_Table tbody #RDSTTR_" + RDFS_id + " td")[6].innerHTML = Received_Qty_Nos;
                    $("#Receipt_Details_Sheeting_Table tbody #RDSTTR_" + RDFS_id + " td")[7].innerHTML = Breakage_Qty_Nos;
                    $("#Receipt_Details_Sheeting_Table tbody #RDSTTR_" + RDFS_id + " td")[8].innerHTML = Defect_Type;
                    $("#Receipt_Details_Sheeting_Table tbody #RDSTTR_" + RDFS_id + " td")[9].innerHTML = RDFSRemarks;
                }


                $("#RDFS_id").val("");
                $("#Item_Type_Product_Name").val("");
                $("#Size_M").val("");
                $("#Invoice_No").val("");
                $("#Invoice_Date").val("");
                $("#Batch_No").val("");
                $("#Received_Qty_Nos").val("");
                $("#Breakage_Qty_Nos").val("");
                $("#Defect_Type").val("");
                $("#RDFSRemarks").val("");

                $("#ReceiptDetailsForSheetingModal").modal("hide");

            }
        }
        catch (e)
        {
            alert("Error : SaveRDFSData : " + e);
        }

    }


    function EditRDST(RowId)
    {
        try
        {
            $("#RDFS_id").val($("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[0].innerHTML);
            $("#Item_Type_Product_Name").val($("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[1].innerHTML);
            $("#Size_M").val($("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[2].innerHTML);
            $("#Invoice_No").val($("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[3].innerHTML);
            $("#Invoice_Date").val($("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[4].innerHTML);
            $("#Batch_No").val($("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[5].innerHTML);
            $("#Received_Qty_Nos").val($("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[6].innerHTML);
            $("#Breakage_Qty_Nos").val($("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[7].innerHTML);
            $("#Defect_Type").val($("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[8].innerHTML);
            $("#RDFSRemarks").val($("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[9].innerHTML);





            $("#ReceiptDetailsForSheetingModal").modal('show');

            $("#RDST_Delete").show();

            $("#RDST_Save").text("Update");

        }
        catch (e)
        {
            alert("Error : EditRDST : " + e);
        }

    }


    function DeleteRDFS()
    {
        try
        {
            var RDFS_id = $("#RDFS_id").val();

            $("#Receipt_Details_Sheeting_Table tbody #RDSTTR_" + RDFS_id + "").remove();

            $("#RDFS_id").val("");
            $("#Item_Type_Product_Name").val("");
            $("#Size_M").val("");
            $("#Invoice_No").val("");
            $("#Invoice_Date").val("");
            $("#Batch_No").val("");
            $("#Received_Qty_Nos").val("");
            $("#Breakage_Qty_Nos").val("");
            $("#Defect_Type").val("");
            $("#RDFSRemarks").val("");

            $("#ReceiptDetailsForSheetingModal").modal("hide");

            var i = 1;

            $("#Receipt_Details_Sheeting_Table tbody tr").each(function ()
            {
                $(this).attr("id", "RDSTTR_" + i);
                $("#Receipt_Details_Sheeting_Table tbody #RDSTTR_" + i + " td")[0].innerHTML = i;
                i = i + 1;
            });
        }
        catch (e)
        {
            alert("Error : DeleteRDFS : " + e);
        }

    }


    /*       Receipt Details For Sheeting       */




    /*       Material Supply Detail       */



    function OpenMSDModel()
    {
        try
        {
            $("#MSD_id").val("");
            $("#Material_Belongs_To").val("");
            $("#Product_Supplied_From").val("");
            $("#MSD_Name").val("");

            $("#MSD_Delete").hide();
            $("#MSD_Save").text("Save");

            $("#MaterialSupplyDetailModal").modal('show');
        }
        catch (e)
        {
            alert("Error : MaterialSupplyDetailModal :" + e);
        }
    }


    function SaveMSDData()
    {
        try
        {
            var MSD_id = $("#MSD_id").val();
            var Material_Belongs_To = $("#Material_Belongs_To").val();
            var Product_Supplied_From = $("#Product_Supplied_From").val();
            var MSD_Name = $("#MSD_Name").val();

            var Flag = 0;

            if (Material_Belongs_To == "")
            {
                Flag = Flag + 1;
                $("#Material_Belongs_To").css("border-color", "red");
            }
            else
            {
                $("#Material_Belongs_To").css("border-color", "#d2d6de");
            }

            if (Flag > 0)
            {
                return;
            }
            else
            {
                var TRCode = "";

                TRCode = TRCode + "<td>" + Material_Belongs_To + "</td>";
                TRCode = TRCode + "<td>" + Product_Supplied_From + "</td>";
                TRCode = TRCode + "<td>" + MSD_Name + "</td>";

                if (MSD_id == "")
                {
                    MSD_id = $("#Material_Supply_Detail_Table tbody tr").length + 1;

                    TRCode = "<tr class='MousePointer' id='MSD_" + MSD_id + "' onclick='EditMSD(this.id)'><td>" + MSD_id + "</td>" + TRCode + "</tr>";
                    $("#Material_Supply_Detail_Table tbody").append(TRCode);
                }
                else
                {
                    $("#Material_Supply_Detail_Table tbody #MSD_" + MSD_id + " td")[0].innerHTML = MSD_id;
                    $("#Material_Supply_Detail_Table tbody #MSD_" + MSD_id + " td")[1].innerHTML = Material_Belongs_To;
                    $("#Material_Supply_Detail_Table tbody #MSD_" + MSD_id + " td")[2].innerHTML = Product_Supplied_From;
                    $("#Material_Supply_Detail_Table tbody #MSD_" + MSD_id + " td")[3].innerHTML = MSD_Name;
                }


                $("#MSD_id").val("");
                $("#Material_Belongs_To").val("");
                $("#Product_Supplied_From").val("");
                $("#MSD_Name").val("");
                $("#MaterialSupplyDetailModal").modal("hide");
            }
        }
        catch (e)
        {
            alert("Error : SaveMSDData :" + e);
        }
    }


    function EditMSD(RowId)
    {
        try
        {
            $("#MSD_id").val($("#Material_Supply_Detail_Table tbody #" + RowId + " td")[0].innerHTML);
            $("#Material_Belongs_To").val($("#Material_Supply_Detail_Table tbody #" + RowId + " td")[1].innerHTML);
            $("#Product_Supplied_From").val($("#Material_Supply_Detail_Table tbody #" + RowId + " td")[2].innerHTML);
            $("#MSD_Name").val($("#Material_Supply_Detail_Table tbody #" + RowId + " td")[3].innerHTML);

            $("#MaterialSupplyDetailModal").modal('show');
            $("#MSD_Delete").show();
            $("#MSD_Save").text("Update");

        }
        catch (e)
        {
            alert("Error : EditMSD : " + e);
        }

    }


    function DeleteMSD()
    {
        try
        {
            var MSD_id = $("#MSD_id").val();

            $("#Material_Supply_Detail_Table tbody #MSD_" + MSD_id + "").remove();

            $("#MSD_id").val("");
            $("#Material_Belongs_To").val("");
            $("#Product_Supplied_From").val("");
            $("#MSD_Name").val("");

            $("#MaterialSupplyDetailModal").modal("hide");

            var i = 1;

            $("#Material_Supply_Detail_Table tbody tr").each(function ()
            {
                $(this).attr("id", "MSD_" + i);
                $("#Material_Supply_Detail_Table tbody #MSD_" + i + " td")[0].innerHTML = i;
                i = i + 1;
            });

            $("#MaterialSupplyDetailModal").modal("hide");
        }
        catch (e)
        {
            alert("Error : DeleteMSD : " + e);
        }

    }

    /*       Material Supply Detail       */










    function SaveFunction()
    {
        try
        {
            var complaintReceivedDate_CRT = $("#complaintReceivedDate_CRT").val();
            var ComplaintRegistrationDate_CRT = $("#ComplaintRegistrationDate_CRT").val();
            var Registrant_Type = $("#Registrant_Type").val();
            var Sales_Representative_Employee_Code = $("#Sales_Representative_Employee_Code").val();
            var Sales_Representative_Employee_Name = $("#Sales_Representative_Employee_Name").val();
            var Complaint_Desc = $("#Complaint_Desc").val();
            var Remarks = $("#Remarks").val();

            var Complaint_Tracking_No = $("#Complaint_Tracking_No").val();
            var CR_Series_Code = $("#CR_Series_Code").val();
            var Registration_Status = $("#Registration_Status").val();
            var Complaint_Code = $("#Complaint_Code").val();
            var Approved_Date = $("#Approved_Date").val();

            var Customer_Code = $("#Customer_Code").val();
            var Customer_Name = $("#Customer_Name").val();
            var Customer_Type = $("#Customer_Type").val();
            var Customer_Location = $("#Customer_Location").val();
            var Contact_City = $("#Contact_City").val();
            var Contact_State = $("#Contact_State").val();
            var Contact_Area = $("#Contact_Area").val();

            var Contact_Person = $("#Contact_Person").val();
            var Contact_Number = $("#Contact_Number").val();
            var Customer_Fax = $("#Customer_Fax").val();
            var Customer_Email = $("#Customer_Email").val();
            var Complaint_Mode = $("#Complaint_Mode").val();
            var Product_Type = $("#Product_Type").val();
            var Product_Category = $("#Product_Category").val();

            var SubStockiest_Direct_Customer = $("#SubStockiest_Direct_Customer").val();
            var Is_Project_Party = $("#Is_Project_Party").val();
            var Site_Address = $("#Site_Address").val();

            var Complaint_Type = $("#Complaint_Type").val();
            var Complaint_Category = $("#Complaint_Category").val();
            var Complaint_Priority = $("#Complaint_Priority").val();
            var Complaint_Severity = $("#Complaint_Severity").val();



            var Flag = 0;

            if (complaintReceivedDate_CRT == "")
            {
                Flag = Flag + 1;
                $("#complaintReceivedDate_CRT").css("border-color", "red");
            }
            else
            {
                $("#complaintReceivedDate_CRT").css("border-color", "#d2d6de");
            }

            if (Registrant_Type == "")
            {
                Flag = Flag + 1;
                $("#Registrant_Type").css("border-color", "red");
            }
            else
            {
                $("#Registrant_Type").css("border-color", "#d2d6de");
            }

            if (Sales_Representative_Employee_Code == "")
            {
                Flag = Flag + 1;
                $("#Sales_Representative_Employee_Code").css("border-color", "red");
            }
            else
            {
                $("#Sales_Representative_Employee_Code").css("border-color", "#d2d6de");
            }

            if (Sales_Representative_Employee_Name == "")
            {
                Flag = Flag + 1;
                $("#Sales_Representative_Employee_Name").css("border-color", "red");
            }
            else
            {
                $("#Sales_Representative_Employee_Name").css("border-color", "#d2d6de");
            }


            if (CR_Series_Code == "")
            {
                Flag = Flag + 1;
                $("#CR_Series_Code").css("border-color", "red");
            }
            else
            {
                $("#CR_Series_Code").css("border-color", "#d2d6de");
            }

            if (Customer_Code == "")
            {
                Flag = Flag + 1;
                $("#Customer_Code").css("border-color", "red");
            }
            else
            {
                $("#Customer_Code").css("border-color", "#d2d6de");
            }


            if (Customer_Name == "")
            {
                Flag = Flag + 1;
                $("#Customer_Name").css("border-color", "red");
            }
            else
            {
                $("#Customer_Name").css("border-color", "#d2d6de");
            }

            if (Contact_State == "")
            {
                Flag = Flag + 1;
                $("#Contact_State").css("border-color", "red");
            }
            else
            {
                $("#Contact_State").css("border-color", "#d2d6de");
            }

            if (Contact_Area == "")
            {
                Flag = Flag + 1;
                $("#Contact_Area").css("border-color", "red");
            }
            else
            {
                $("#Contact_Area").css("border-color", "#d2d6de");
            }

            if (Product_Type == "")
            {
                Flag = Flag + 1;
                $("#Product_Type").css("border-color", "red");
            }
            else
            {
                $("#Product_Type").css("border-color", "#d2d6de");
            }

            if (Product_Category == "")
            {
                Flag = Flag + 1;
                $("#Product_Category").css("border-color", "red");
            }
            else
            {
                $("#Product_Category").css("border-color", "#d2d6de");
            }

            if (Is_Project_Party == "")
            {
                Flag = Flag + 1;
                $("#Is_Project_Party").css("border-color", "red");
            }
            else
            {
                $("#Is_Project_Party").css("border-color", "#d2d6de");
            }



            if (Complaint_Type == "")
            {
                Flag = Flag + 1;
                $("#Complaint_Type").css("border-color", "red");
            }
            else
            {
                $("#Complaint_Type").css("border-color", "#d2d6de");
            }




          

            if (Flag > 0)
            {
                return;
            }
            else
            {

                var MaterialSupplyDetail = new Array();
                var RowId = "";

                $("#Material_Supply_Detail_Table tbody tr").each(function ()
                {
                    RowId = ($(this).attr("id"));
                    MaterialSupplyDetail.push({
                        SlNo: $("#Material_Supply_Detail_Table tbody #" + RowId + " td")[0].innerHTML,
                        MaterialBelongsTo: $("#Material_Supply_Detail_Table tbody #" + RowId + " td")[1].innerHTML,
                        ProductSuppliedFrom: $("#Material_Supply_Detail_Table tbody #" + RowId + " td")[2].innerHTML,
                        Name: $("#Material_Supply_Detail_Table tbody #" + RowId + " td")[3].innerHTML
                    });
                });

                var ReceiptDetailsForSheeting = new Array();

                $("#Receipt_Details_Sheeting_Table tbody tr").each(function ()
                {
                    RowId = ($(this).attr("id"));
                    ReceiptDetailsForSheeting.push({
                        SlNo: $("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[0].innerHTML,
                        ItemType: $("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[1].innerHTML,
                        Size: $("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[2].innerHTML,
                        InvoiceNo: $("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[3].innerHTML,
                        InvoiceDate: $("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[4].innerHTML,
                        BatchNo: $("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[5].innerHTML,
                        ReceivedQty: $("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[6].innerHTML,
                        BreakageQty: $("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[7].innerHTML,
                        TypeofDefect: $("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[8].innerHTML,
                        Remarks: $("#Receipt_Details_Sheeting_Table tbody #" + RowId + " td")[9].innerHTML
                    });
                });



                var FormData = JSON.stringify({
                    complaintReceivedDate_CRT: complaintReceivedDate_CRT,
                    ComplaintRegistrationDate_CRT: ComplaintRegistrationDate_CRT,
                    Registrant_Type: Registrant_Type,
                    Sales_Representative_Employee_Code: Sales_Representative_Employee_Code,
                    Sales_Representative_Employee_Name: Sales_Representative_Employee_Name,
                    Complaint_Desc: Complaint_Desc,
                    Remarks: Remarks,

                    Complaint_Tracking_No: Complaint_Tracking_No,
                    CR_Series_Code: CR_Series_Code,
                    Registration_Status: Registration_Status,
                    Complaint_Code: Complaint_Code,
                    Approved_Date: Approved_Date
                });

                var CustomerDetails = JSON.stringify({
                    Customer_Code: Customer_Code,
                    Customer_Name: Customer_Name,
                    Customer_Type: Customer_Type,
                    Customer_Location: Customer_Location,
                    Contact_City: Contact_City,
                    Contact_State: Contact_State,
                    Contact_Area: Contact_Area,

                    Contact_Person: Contact_Person,
                    Contact_Number: Contact_Number,
                    Customer_Fax: Customer_Fax,
                    Customer_Email: Customer_Email,
                    Complaint_Mode: Complaint_Mode,
                    Product_Type: Product_Type,
                    Product_Category: Product_Category,

                    SubStockiest_Direct_Customer: SubStockiest_Direct_Customer,
                    Is_Project_Party: Is_Project_Party,
                    Site_Address: Site_Address
                });

                var Priortize_Classify = JSON.stringify({
                    Complaint_Type: Complaint_Type,
                    Complaint_Category: Complaint_Category,
                    Complaint_Priority: Complaint_Priority,
                    Complaint_Severity: Complaint_Severity
                });

                var ComplaintData = JSON.stringify({
                    FormData: FormData,
                    CustomerDetails: CustomerDetails,
                    Priortize_Classify: Priortize_Classify,
                    MaterialSupplyDetail: MaterialSupplyDetail,
                    ReceiptDetailsForSheeting: ReceiptDetailsForSheeting
                });




                $.ajax({
                    type: "POST",
                    url: "../../ComplaintRegistration/SaveComplaint",
                    data: { Complaint: ComplaintData },
                    async: false,
                    success: function (response)
                    {
                        alert(response);
                    },
                    error: function (er)
                    {
                        alert("Error : " + er);
                        alert(JSON.stringify(er));
                    }
                });

            }


        }
        catch (e)
        {
            alert("Error : SaveFunction : " + e);
        }

    }



</script>
